/*RESET*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
*::before,
*::after {
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
img,
picture,
video,
iframe,
figure {
  width: 100%;
  max-width: 100%;
  display: block;
}
svg {
  display: block;
  width: 1.2em;
  height: 1.2em;
}
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
}
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.4em;
}

/* HEADER */
.Header {
  /* background-color: lightblue; */
  width: 100%;
  max-width: 115rem;
  min-width: 64rem;

  margin: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Header-h1 {
}
.Header-img {
}
.Header-nav {
}
.Header-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Header-li {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.125rem;

  padding: 20px;

  transition: all 0.3s ease;
}
.Header-li:nth-child(2) {
  color: #77875b;
}
.Header-li:hover {
  color: #77875b;
}
.Header-a {
}
.Header-right {
}
.Svg-a {
}
.Header-svg {
  width: 2rem;
  height: 2rem;
}

/* MAIN */
.Main {
}
.Section {
}
.Leaf {
  position: relative;
  margin-top: 2rem;
}
.Leaf-div {
  width: 99%;
  height: 40vh;
  margin: auto;
  background: url(../assets/About-title-img.jpg) no-repeat center center / cover;
}
.Leaf-h2 {
  /* background-color: aquamarine; */
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;

  position: absolute;
  top: 50%;
  left: 15%;
}

.Section {
}
.Bio {
  padding: 9.5rem 2.25rem;
}
.Bio-container {
  /* background-color: lightpink; */
  display: flex;
  flex-wrap: row nowrap;
  justify-content: center;
  align-items: center;
}
.Bio-img {
  background: aqua url(../assets/About-img.jpg) no-repeat center center / cover;
  width: 38.75rem;
  height: 59.375rem;
}
.Bio-text {
  width: 25%;
  /* background-color: lightgreen; */

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 7.5rem;
}
.Bio-h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 300;
}
.Bio-p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #807f7f;
}
.Projects {
  padding-top: 3.125rem;
}
.Projects-h4 {
}
.Projects-ul {
}
.Projects-l {
}

.Exhibitions {
  padding-top: 1.875rem;
}
.Exhibitions-h4 {
}
.Exhibitions-ul {
}
.Exhibitions-l {
}

.Awards {
  padding-top: 1.875rem;
}
.Awards-h4 {
}
.Awards-ul {
  text-transform: capitalize;
}
.Awards-l {
}

.Projects-h4,
.Exhibitions-h4,
.Awards-h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
}

.Projects-ul,
.Exhibitions-ul,
.Awards-ul {
  font-family: "Open Sans", sans-serif;
  font-size: .9375rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #807f7f;
}

/* FOOTER */
.Footer {
}
.Footer-section {
  margin-top: 4.375rem;
}
.Footer-img {
  width: 12.5rem;
  margin: auto;
  margin-bottom: 3.125rem;
}
.Section-p {
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #848484;

  text-align: center;
}
.Footer-rrss {
  margin: 3.125rem;
}
.Rrss-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.Rrss-li {
  transition: all 0.5s ease;
}
.Rrss-li:hover {
  color: lightgrey;
}
.Rrss-a {
}
.Rrss-svg {
}
.Footer-copyright {
  margin-bottom: 1.875rem;
}
.Copyright {
  text-align: center;

  font-family: Open Sans, sans-serif;
  font-size: 0.8125rem;
  line-height: 2.0625rem;
  text-transform: capitalize;
  color: #848484;
}
